html {
  width:100%;
  height:100%;
  /* overflow: hidden; */
}
#outputWrapper {
  z-index:-5;
  width:50%;
}
#options {
  text-align:center;
}
#playerField {
  columns:2;
  
}
.playerP {
  display:inline-block;
}
.playerField {
  display:block;
}
.remove {
  border-radius:2px;
  cursor:pointer;
  position:relative;
  top:5px;
  display:inline-block;
  background-color:red;
  width:19px;
  height:19px;
  text-align:center;
  transition:0.075s ease-out;
  transform:translateY(-2px);
}
.remove:hover {
  background-color:darkred;
}
.remove p {
  transform:translateY(2px);
}

.playerInput {
  width:100px;
}
select.playerInput {
  cursor:pointer;
}
.playerName {
  cursor:pointer;
}
.indented {
  display:inline-block;
  margin-left:1em;
}
td:nth-child(odd) {
  width:10%;
}
#gamemakerActions {
  display: none;
  text-align:center;
  
}
#gamemakerActions * {
  text-align:center;
  columns:2;
  /* background-color: red; */
}
#playersStatus {

}
#gamemakerActionsActual {
  display:inline-block;
  width:auto;

}
#gamemakerActions * * {
  display: block;
}